$primary-grey: #e7ddda;
$primary-blue: #3b5aff;
$primary-black: #333333;
$primary-orange: #ff5c21;
$primary-white: #f3f7fb;
$text-secondary: #4a4a57;
$text-invert: #ffffff;
$theme-color: #fafafa;
$background-invert: #222;
$dark-background: #151516;
